html, body {
    margin: 0;
    padding: 0;
    background-color: #fefcf6;
}

* {
    outline: none;
}

@media print {
    body{
        filter: grayscale(100%) !important;
    }

    input, select, button, .generator-container{
        display: none !important;
    }
}